@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,600,700&display=swap');
:root {
 --bg-black-900:#f2f2fc;
 --bg-black-100:#fdf9ff;
 --bg-black-50:#e8dfec;
 --bg-black-70:#fff;
 --text-black-900:#302e4d;
 --text-black-700:#302e4d;
}

.skills {
  font-family: cursive;
  color: tomato;
  font-weight: lighter;
}

.colortitle {
  color:#fff;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border:1px solid tomato;
  border-radius: 10px;
  padding: 10px;
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease;
}

/* Card Pop-up */
.card-popup {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: rgba(0, 0, 0, 0.947);
 display: flex;
 justify-content: center;
 align-items: center;
 z-index: 999;
 opacity: 0;
 pointer-events: none;
 transition: opacity 0.3s ease-in-out;
}

.card-popup.active {
 opacity: 1;
 pointer-events: auto;
}

.card-popup-content {
width: 80vw;
min-height: 95vh;
margin-top: 5px;
/* max-width: 600px; */
background-color: #fff;
padding: 20px;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
position: relative;
}

.navbar-nav-centered {
  display: flex;
  flex-direction: row;
 justify-self: center;
}

.card-popup-content img {
 max-width: 100%;
 height: auto;
 margin-bottom: 10px;
}

.card-popup-content h3 {
 margin-bottom: 10px;
}

.card-popup-content p {
 line-height: 1.5;
 margin-bottom: 20px;
}

.card-popup-close {
 position: absolute;
 top: 10px;
 right: 10px;
 color: #333;
 font-size: 20px;
 cursor: pointer;
}

.card-popup-buttons {
 display: flex;
 justify-content: center;
}

.card-popup-button {
 background-color: #fff;
 color: tomato;
 border: tomato 1px solid;
 padding: 10px 20px;
 cursor: pointer;
 margin-top: 10px;
border-radius: 10px;
}
.card-popup-button:hover {
 background-color:tomato;
 color:  #fff;
 border: #fff 1px solid;
}
.layoutProject {
 display: grid;
 grid-template-columns: 33.33% 33.33% 33.33%; 
 row-gap: 10px;
}


.projectsTitle {
  display: flex;
  justify-content: center;
  color:var(--text-black-700);
  font-weight: 700;
  font-size: xx-large;
  font-family: 'Lato', sans-serif;
}

.see-project-button {
  background-color: #f0f0f0;
  border: none;
  color: var(--text-black-700);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: tomato 1px solid;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.see-project-button:hover {
  background-color: tomato ;
  color: #fff;
}

.see-project-button:active {
  animation: button-click-animation 0.3s;
}

@keyframes button-click-animation {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(0.9);
  }
  100% {
      transform: scale(1);
  }
}

.color {
  color:#fff;
  /* font-family: 'poppins',sans-serif; */
}

@media (max-width:780px) {
 .projects {
  display: grid;
  grid-template-columns: 49.33% 49.33%; 
  row-gap: 10px;
 }
 .cardPopupImage {
  height: 25vw;
 width: 100%;
 }
 
 .divPopImage {
  display: flex;
  justify-content: center;
  width: 90vw;
  height: 25vw;
 }
 .card-popup-content {
  width: 95vw;
  min-height: 90vh;
  margin-top: 5px;
  /* max-width: 600px; */
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  }
  .card-popup-button {
   background-color: #fff;
   color: tomato;
   border: tomato 1px solid;
   padding: 5px 10px;
   cursor: pointer;
   margin-top: 10px;
  border-radius: 10px;
  }
}

@media (max-width:500px) {
 .projects {
  display: grid;
  grid-template-columns:95%; 
  margin-left: 2.5%;
  margin-right: 2.5%;
 }
}

.cardPopupImage {
 height: 25vw;
width: 100%;
}

.divPopImage {
 display: flex;
 justify-content: center;
 width: 75vw;
 height: 25vw;
}